/.idea/
/.installed.cfg
/.mr.developer.cfg
/.venv/
/bin/
/develop-eggs/
/parts/
/src/
/var/
/result
/bootstrap-buildout.py
/test.py
/certs/
/resources/node_modules
/resources/elm-stuff
/resources/theme

/resources/dist/
/resources/.plonetheme-upload-cookie
/resources/.plone
